
# Admin wallet (deployed the contract, owns AdminCap)
ADMIN_ADDRESS=aleo1aqwe9742m69tq0hr5645qcsw5a77u025s0xpedx0y602she0jsyq5pjghk

# Admin private key — DO NOT COMMIT THE REAL FILE
PRIVATE_KEY=APrivateKey1...

# Optional: user wallet for testing as a bettor
USER_ADDRESS=aleo1...
