
# Admin wallet public address (deployed the contract, owns AdminCap)
ADMIN_ADDRESS=aleo1vfrqgeyew9du0grdq24vmxc4cg8duy7htgcmkehxy7v88qn9f59skfjmg7

# User wallet public address (the bettor)
USER_ADDRESS=aleo1...your_user_address_here


